@charset "UTF-8";

html {
    font-size: 100%;
}
* {
    box-sizing: border-box;
}
body {
    padding: 30px 10% 30px;
    margin: 0;
    color: #333;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
select {
    border: none;
    margin: 0 auto;
	font-size: 16px;
    color: #808080;
}
main {
    width: 100%;
    margin: 50px 0 200px;
    background: #FFFFFF;
}

/* Header*/
header {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    margin: 20px 20px;
    width: 15%;
    display: flex;
    justify-content: space-between;
}

#humberger {
    position: relative;
    height: 46px;
    width: 46px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #1E90FF;
    border: 2px solid #1E90FF;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#humberger div {
    position: absolute;
    left: 7px;
    height: 2px;
    width: 28px;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
    box-sizing: border-box;
}
#humberger div:nth-of-type(1) {
    width: 14px;
    bottom: 30px;
}
#humberger div:nth-of-type(2) {
    bottom: 20px;
}
#humberger div:nth-of-type(3) {
    width: 10px;
    bottom: 10px;
}
.menu_title {
    color: #1E90FF;
    margin: 0 auto;
    font-size: 34px;
}

/* Alert */
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    /* border-radius: 0.25rem; */
}
.alert-success {
    color: #1d643b;
    background-color: #d7f3e3;
    border-color: #c7eed8;
}
.alert-success hr {
    border-top-color: #b3e8ca;
}
.alert-success .alert-link {
    color: #123c24;
}
.alert-danger {
    color: #761b18;
    background-color: #f9d6d5;
    border-color: #f7c6c5;
}
.alert-danger hr {
    border-top-color: #f4b0af;
}
.alert-danger .alert-link {
    color: #4c110f;
}

.error-container {
    margin: 0 auto;
    width: 400px;
    height: 50px;
}
.error {
    text-align: left;
    color: red;
    font-size: 12px;
}
.space {
    margin-top: 20px;
}
