@charset "UTF-8";

html {
    font-size: 100%;
}
* {
    box-sizing: border-box;
}
body {
    padding: 30px 10% 30px;
    margin: 0;
    color: #333;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
select {
    border: none;
    margin: 0 auto;
	font-size: 16px;
    color: #808080;
}
main {
    width: 100%;
    margin: 50px 0 200px;
    background: #FFFFFF;
}

/* Header*/
header {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    margin: 20px 0px;
    width: 15%;
    display: flex;
}

.menu_title {
    color: #1E90FF;
    margin-left: 20px;
    font-size: 34px;
    line-height: 46px;
}


.menu{
    position: relative;
    height: 46px;
    width: 46px;
    z-index: 99;
    background-color: #1E90FF;
    border: 2px solid #1E90FF;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.menu-line{
    position: absolute;
    left: 7px;
    height: 2px;
    width: 70%;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
    box-sizing: border-box;
}
.menu-line-top {
    width: 35%;
    bottom: 30px;
}
.menu-line-center {
    bottom: 20px;
}
.menu-line-bottom {
    width: 20%;
    bottom: 10px;
}
.menu-line-top.active{
    top: 20px;
    left: 5px;
    width: 30px;
    transform: rotate(45deg);
}
.menu-line-center.active{
    transform:scaleX(0);
}
.menu-line-bottom.active{
    top: 20px;
    left: 5px;
    width: 30px;
    transform: rotate(135deg);
}

.gnav{
    background: #fff;
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
	left: 0;
}
.gnav-wrap{
    align-items:center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}
/* .gnav-menu {
    width: 30%;
    height: 20%;
} */
ul li {
    padding-top:10px;
    padding-bottom:10px;
}
.gnav-menu-itemm{
    display: block;
    margin: 40px 0;
}
.gnav-menu-item a{
	color: #1E90FF;
    font-size: 26px;
    /* padding: 40px; */
	text-decoration: none;
    transition: .5s;
}
.gnav-menu-item a:hover{
    color: #666;
}
/* Alert */
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    /* border-radius: 0.25rem; */
}
.alert-success {
    color: #1d643b;
    background-color: #d7f3e3;
    border-color: #c7eed8;
}
.alert-success hr {
    border-top-color: #b3e8ca;
}
.alert-success .alert-link {
    color: #123c24;
}
.alert-danger {
    color: #761b18;
    background-color: #f9d6d5;
    border-color: #f7c6c5;
}
.alert-danger hr {
    border-top-color: #f4b0af;
}
.alert-danger .alert-link {
    color: #4c110f;
}

.error-container {
    margin: 0 auto;
    width: 400px;
    height: 50px;
}
.error {
    text-align: left;
    color: red;
    font-size: 12px;
}
.space {
    margin-top: 20px;
}
