@charset "UTF-8";

/***　おしゃれテーブル3 シアンカラー　***/
.admin-table {
    width:100%;
    border-collapse: separate;
    border: none;
    border-spacing: 0px 5px ;
}
.admin-table tbody td {
    text-align: center;
}
.admin-table thead th {
    color: #FFF;
    font-weight: bold;
    background:#1E90FF;
    text-align: center;
}
/* 上部ヘッダーの丸み */
.admin-table thead th:nth-child(1) {
    border-radius: 10px 0 0 0;
}
.admin-table thead th:last-child  {
    border-radius: 0 10px  0 0;
}
.admin-table tr td {
    background: #f5f5f5;
}

.admin-table tr {
    color:#666;
    font-weight: bold;
    line-height:2.5em;
    text-align:right;
}

select.admin-role {
    /* border: none; */
    border: 2px solid #666;
    border-radius: 20px;
    margin: 0 auto;
	font-size: 16px;
    color: #666;
    background-color: #f5f5f5;
    width: 100px;
    font-weight: bold;
}
.admin-update-btn {
    border: 2px solid #87CEFA;
    border-radius: 20px;
    margin: 0 auto;
	font-size: 16px;
    color: #fff;
    background-color: #87CEFA;
    width: 100px;
    height: 30px;
    font-weight: bold;
}
.admin-delete-btn {
    border: 2px solid #F62;
    border-radius: 20px;
    margin: 0 auto;
	font-size: 16px;
    color: #fff;
    background-color: #F62;
    width: 100px;
    height: 30px;
    font-weight: bold;
}
.admin-cancel-btn {
    border: 2px solid #666;
    border-radius: 20px;
    margin: 0 auto;
	font-size: 16px;
    color: #fff;
    background-color: #666;
    width: 100px;
    height: 30px;
    font-weight: bold;
}
.admin-update-btn:hover{
    transform: translateY(-3px);
    cursor: pointer;
}
.admin-delete-btn:hover{
    transform: translateY(-3px);
    cursor: pointer;
}
.admin-cancel-btn:hover{
    transform: translateY(-3px);
    cursor: pointer;
}
.admin-modal-container {
    margin: 0 auto;
    width: 50%;
    height: 20vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.admin-modal-txt {
    color: #666;
    font-size: 24px;
    text-align: center;
    padding-top: 25px;
}
.admin-modal-flex {
    width: 100%;
    height: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
