@charset "UTF-8";

input {
    margin: 0 auto;
	font-size: 16px;
    color: #808080;
    width : 250px;
    border-top: none;
    border-right: none;
    border-left: none;
}

/* Login */
.login {
    margin: 0 auto;
    width: 400px;
    height: 250px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.login-bar {
    position: relative;
    margin-bottom: 10px;
    background: #1E90FF;
    border-radius: 5px 5px 0px 0px;
    height: 60px;
}
.login-box-text {
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    text-align: center;
}
.login-container {
    padding: 10px 40px;
}
.login-input-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}
.login-icon {
    position: absolute;
    color: #808080;
    top: 5px;
	left: 0px;
	padding: 9px 8px;
}
.login-input-box-right {
    padding-right: 34px;
    align-items: center;
    height: 50px;
    width: 100%;
    text-align: right;
}
.login-btn {
    border: 1px solid #1E90FF;
    border-radius: 5px;
    background-color: #1E90FF;
    color: white;
    font-size: 14px;
    width: 80px;
}

/* Logout */
.logout-btn {
    border: 1px solid #1E90FF;
    border-radius: 5px;
    background-color: #1E90FF;
    margin-top: 20px;
    color: white;
    font-size: 12px;
    width: 80px;
}

/* Registration */
.register {
    margin: 0 auto;
    width: 400px;
    height: 320px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.register-bar {
    position: relative;
    margin-bottom: 10px;
    background: #1E90FF;
    border-radius: 5px 5px 0px 0px;
    height: 60px;
}
.register-box-text {
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    text-align: center;
}
.register-container {
    padding: 10px 40px;
}
.register-input-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}
.register-icon {
    position: absolute;
    color: #808080;
    top: 5px;
    left: 0px;
    padding: 9px 8px;
}
.register-input-box-right {
    padding-top: 10px;
    padding-right: 34px;
    align-items: center;
    height: 50px;
    width: 100%;
    text-align: right;
}
.register-btn {
    border: 1px solid #1E90FF;
    border-radius: 5px;
    background-color: #1E90FF;
    color: white;
    font-size: 14px;
    width: 60px;
}

/* Thanks */
.thanks {
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.thanks-txt {
    padding: 100px 0px;
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thanks-input-box {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}
.thanks-btn {
    padding: 10px;
    color: #fff;
    background: #1E90FF;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
}
